<div class="container-fluid w-100 m-0" style="padding-top: 145px">
  <div class="row">
    <div class="col-10">
      <div class="content">
        <h1 class="title">
          Welcome to D's&nbsp;coffee...!<br /><br />
          Choose your favorite coffee!
        </h1>
        <a routerLink="/store">
          <button [disabled]="disabled" [style.fontSize]="'1.8rem'" #button>
            <div style="display: flex">
              <img
                src="/assets/images/logo.png"
                style="width: 35px; margin-top: -8px"
              />&nbsp;
              <div style="padding-top: 6px">Let's try coffee</div>
            </div>
          </button>
        </a>
      </div>
    </div>
    <div class="col-2">
      <div class="column" style="text-align: end; padding-right: 20px">
        <div class="col" style="height: 50px">
          <mat-icon
            matTooltip="Home"
            style="font-size: 40px; width: 40px; height: 40px; color: #f4f4f4"
            >home</mat-icon
          >
        </div>
        <div class="col" style="height: 50px">
          <mat-icon
            matTooltip="view_list"
            style="font-size: 40px; width: 40px; height: 40px; color: #f4f4f4"
            >view_list</mat-icon
          >
        </div>
        <div class="col" style="height: 50px">
          <mat-icon
            matTooltip="Descripion"
            style="font-size: 40px; width: 40px; height: 40px; color: #f4f4f4"
            >description</mat-icon
          >
        </div>
      </div>
    </div>
  </div>
</div>
1
