<div class="container-fluid w-100 m-0" style="padding-top: 145px;padding-bottom:145px">
  <div class="row">
    <div class="col-12">
      <div class="content">
        <h1 class="title">
          Welcome to D's&nbsp;coffee...!<br /><br />
          Choose your favorite coffee!
        </h1>
        <!-- <a routerLink="/store"> -->
          <button [disabled]="disabled" [style.fontSize]="'1.8rem'" #button>
            <div style="display: flex">
              <img
                src="/assets/images/logo.png"
                style="width: 35px; margin-top: -8px"
              />&nbsp;
              <div style="padding-top: 6px" (click)="letsTryCoffee()">Let's try coffee</div>
            </div>
          </button>
        <!-- </a> -->
      </div>
    </div>
  </div>
</div>
1
